
    <h1>Добавление</h1>
    <form action="" method="post" novalidate>
        {{ addform.hidden_tag() }}
        <p>
            {{ addform.herf.label }}<br>
            {{ addform.herf }}<br>
            {% for error in addform.herf.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ addform.password.label }}<br>
            {{ addform.password }}<br>
            {% for error in addform.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ addform.submit() }}</p>
		<p>{{ addform.imgpole.label }}</p>
    </form>
	
	